---
name: CI

on: push

jobs:
  build:
    name: Build
    runs-on: "ubuntu-latest"

    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - uses: actions/checkout@v5
      - uses: baptiste0928/cargo-install@e38323ef017552d7f7af73a3f4db467f278310ed # v3 
        with:
          crate: wasm-pack
          version: '^0.13'

      - run: wasm-pack build

      - run: npm ci
        working-directory: www
      - run: npm run build
        working-directory: www

      - uses: actions/upload-pages-artifact@v3
        with:
          path: www/dist

  deploy:
    name: Deploy
    runs-on: "ubuntu-latest"
    needs: build
    if: github.ref == 'refs/heads/main'

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
