---
name: CI

on: push

jobs:
  build:
    name: Build
    runs-on: "ubuntu-latest"

    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - uses: actions/checkout@v6
      - uses: baptiste0928/cargo-install@b687c656bda5733207e629b50a22bf68974a0305 # v3 
        with:
          crate: wasm-pack
          version: '^0.13'
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          version: latest

      - run: wasm-pack build

      - run: pnpm install
        working-directory: www
      - run: pnpm run build
        working-directory: www

      - uses: actions/upload-pages-artifact@v4
        with:
          path: www/dist

  deploy:
    name: Deploy
    runs-on: "ubuntu-latest"
    needs: build
    if: github.ref == 'refs/heads/main'

    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - uses: actions/deploy-pages@v4
        id: deployment
